<div class="card">
  <div class="card-header">Vaikų sąrašas</div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Vaiko vardas</th>
          <th>Vaiko pavardė</th>
          <th>Vaiko gimimo metai</th>
          <th>Vaiko lytis</th>
          <th>El. paštas</th>
          <th>Telefonas</th>
          <th>Klasė</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registration of kidRegistrations">
          <td>{{ registration.name }}</td>
          <td>{{ registration.surname }}</td>
          <td>{{ registration.birthday }}</td>
          <td>{{ registration.gender }}</td>
          <td>{{ registration.email }}</td>
          <td>{{ registration.phone }}</td>
          <td>{{ registration.grade }}</td>
          <td>
            <button
              class="btn btn-danger"
              (click)="deleteRegistration(registration.id)"
            >
              Ištrinti
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
