<div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12">
       <div class="card">
           <div class="card-body" *ngIf="!passChanged">
            <form (ngSubmit)="onPassChange(f)" #f="ngForm">
                <div class="mb-3" >
                    <label for="" class="form-label">Naujas slaptažodis</label>
                    <input type="password" ngModel  name="password" minlength="6" required id="" class="form-control" >
                </div>
               
                <div>
                   <button type="submit" class="btn btn-success" [disabled]="!f.valid" > Patvirtinti </button>
                   
                </div>
            </form>
        </div>
        <div class="card" *ngIf="passChanged">
            <div class="card-body">
                <div class="alert alert-success">Slaptažodis pakeistas sėkmingai</div>
            </div>
        </div>
        <div class="card" *ngIf="isError">
            <div class="card-body">
                <div class="alert alert-danger">
                    Įvyko klaida keičiant slaptažodį.
                </div>
            </div>
        </div>
       </div>
       
    </div>
  </div>

  