<div class="card">
    <div class="card-header">Pridėti naują techninės apžiūros darbuotoją</div>
    <div class="card-body">
        <form [formGroup]="naturalistClubForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label class="form-label">Vardas:</label>
                <input type="text" formControlName="name" class="form-control" >
                <span class="help-block" *ngIf="!naturalistClubForm.get('name')?.valid && naturalistClubForm.get('name')?.touched">Vardas yra privalomas ir turi būti ne ilgesnis nei 16 simbolių</span>
            </div>
            <div class="mb-3">
                <label class="form-label">Pavardė:</label>
                <input type="text" formControlName="surname" class="form-control" >
                <span class="help-block" *ngIf="!naturalistClubForm.get('surname')?.valid && naturalistClubForm.get('surname')?.touched">Pavardė yra privaloma ir turi būti ne ilgesnė nei 16 simbolių</span>
            </div>
            <div class="mb-3">
                <label class="form-label">Elektroninis paštas:</label>
                <input type="text" formControlName="email" class="form-control" >
                <span class="help-block" *ngIf="!naturalistClubForm.get('email')?.valid && naturalistClubForm.get('email')?.touched">Elektroninis paštas yra privalomas</span>
            </div>
            <div class="mb-3">
                <label class="form-label">Klasė:</label>
                <input type="text" formControlName="grade" class="form-control" >
                <span class="help-block" *ngIf="!naturalistClubForm.get('grade')?.valid && naturalistClubForm.get('grade')?.touched">Vaikas turi būti nuo 6 iki 12 klasės</span>
            </div>
            <button type="submit" [disabled]="!naturalistClubForm.valid" class="btn btn-success" >Pridėti</button>
        </form>
    </div>
    
</div>