<div class="card">
    <div class="card-header">Užregistruoti naują vaiką į gamtininkų būrelį</div>
    <div class="card-body">
        <form [formGroup]="naturalistClubForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label class="form-label">Vardas:</label>
                <input type="text" formControlName="name" class="form-control" >
                <span class="help-block" *ngIf="!naturalistClubForm.get('name')?.valid && naturalistClubForm.get('name')?.touched">Vardas yra privalomas ir turi būti ne ilgesnis nei 16 simbolių</span>
            </div>
            <div class="mb-3">
                <label class="form-label">Pavardė:</label>
                <input type="text" formControlName="surname" class="form-control" >
                <span class="help-block" *ngIf="!naturalistClubForm.get('surname')?.valid && naturalistClubForm.get('surname')?.touched">Pavardė yra privaloma ir turi būti ne ilgesnė nei 16 simbolių</span>
            </div>
            <div class="mb-3">
                <label class="form-label">Elektroninis paštas:</label>
                <input type="text" formControlName="email" class="form-control" >
                <span class="help-block" *ngIf="!naturalistClubForm.get('email')?.valid && naturalistClubForm.get('email')?.touched">Elektroninis paštas yra privalomas</span>
            </div>
            <div class="mb-3">
                <label class="form-label">Klasė:</label>
                <input type="text" formControlName="grade" class="form-control" >
                <span class="help-block" *ngIf="!naturalistClubForm.get('grade')?.valid && naturalistClubForm.get('grade')?.touched">Vaikas turi būti nuo 6 iki 12 klasės</span>
            </div>
            <hr>
            <h4>Alergijos</h4>
            <button type="button" class="btn btn-success" (click)="addAllergy()" >Pridėti alergiją</button>
            <div formArrayName="allergy">
                <div class="mb-3 mt-3" *ngFor="let allergyItem of allergies; let i = index">
                    <input type="text" class="form-control" [formControlName]="i">
                </div>
            </div>
            <button type="button" class="btn btn-success mt-3" (click)="removeAllergy()" >Pašalinti alergiją</button>
            <hr>

            <h4>Ankstesni būreliai</h4>
            <button type="button" class="btn btn-success" (click)="addClub()" >Pridėti būrelį</button>
            <div formArrayName="club">
                <div *ngFor="let clubItem of clubs; let i = index">
                    <div class="row mt-3 mb-3" [formGroup]="toFormGroup(clubItem)" >
                        <div class="col-md-3">
                            <label for="" class="form-label">Metai</label>
                            <input type="text" class="form-control" formControlName="year">
                        </div>
                        <div class="col-md-3">
                            <label for="" class="form-label">Pavadinimas</label>
                            <input type="text" class="form-control" formControlName="clubName">
                        </div>
                        <div class="col-md-3">
                            <label for="" class="form-label">Būrelio tipas</label>
                            <select class="form-control" formControlName="clubType">
                                <option value="sport">Sporto</option>
                                <option value="art">Meno</option>
                                <option value="science">Mokslo</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <button type="submit" [disabled]="!naturalistClubForm.valid" class="btn btn-success mb-5 mt-3" >Pridėti</button>
        </form>
    </div>
    
</div>