<div class="row">
  <div class="col-md-6 offset-md-3 col-xs-12">
     <div class="card">
         <div class="card-header">
          {{ isLoginMode?'Prisijunkite prie sistemos':'Naujo vartotojo registracija' }}
         </div>
         <div class="card-body">
          <form (ngSubmit)="onSubmit(f)" #f="ngForm">
              <div class="alert alert-danger mb-3" *ngIf="errorMessage!=''">{{ errorMessage }}</div>
              <div class="mb-3">
                  <label for="" class="form-label">El. paštas</label>
                  <input type="email" ngModel name="email" id="" class="form-control" email required>
              </div>
              <div class="mb-3">
                  <label for="" class="form-label">Slaptažodis</label>
                  <input type="password" ngModel name="password" minlength="6" required id="" class="form-control">
              </div>
              <div>
                  <button type="submit" class="btn btn-success" [disabled]="!f.valid">{{ isLoginMode?'Prisijungti':'Registruotis' }}</button>
                  <button type="button" class="btn btn-success float-end" (click)="isLoginMode=!isLoginMode" >
                      {{ isLoginMode?'Neturite vartotojo? Registruokitės':'Jau registruoti? Prisijunkite' }}
                  </button>
              </div>
          </form>
         </div>
     </div>
     
  </div>
</div>